.container {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: var(--dark);
  padding: 18px 10px 10px 10px;
  color: white;
  border-radius: 5px 0 0 0;
  z-index: 2;
}

.axis {
  display: flex;
  align-items: center;
}

.field-label {
  margin-left: 8px;
}

.sub-label {
  color: rgba(255, 255, 255, 0.5);
}
