.container {
  --border-radius: 5px;
  --close-btn-height: 30px;
  --padding: 10px;

  position: absolute;
  bottom: 0;
  right: 0;
  width: 420px;
  background-color: var(--dark);
  padding: 30px var(--padding) 15px var(--padding);
  color: white;
  border-radius: var(--border-radius) 0 0 0;
  z-index: 100;
}

@media (max-width: 500px) {
  .container {
    left: 0;
    width: calc(100% - 2*var(--padding));
  }
}

.move-in {
  animation: move-in 1s ease forwards;
}

.move-out {
  animation: move-out 1s ease forwards;
}

@keyframes move-in {
  from {
    transform: translateY(calc(100% - var(--close-btn-height)));
  }

  to {
    transform: translateY(0);
  }
}

@keyframes move-out {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(calc(100% - var(--close-btn-height)));
  }
}

.close-btn {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: var(--close-btn-height);
  border-radius: var(--border-radius) 0 0 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.close-btn:active {
  background-color: rgba(255, 255, 255, 0.2);
}

.axis {
  display: flex;
  align-items: center;
}

.adornment {
  color: white;
  font-family: "Computer Modern Serif", serif;
  font-style: italic;
  font-size: 18px;
}

.field-label {
  display: block;
  margin-left: 8px;
  margin-top: 14px;
  margin-bottom: 10px;
}

.sub-label {
  color: rgba(255, 255, 255, 0.5);
}
