#canvas-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.label {
  color: black;
  font-size: 32px;
  font-family: "Computer Modern Serif", serif;
  font-style: italic;
  padding: 2px;
  background-color: transparent;
}
