/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");

:root {
  font-family: Roboto, "Helvetica Neue", sans-serif;

  /** Color palette */
  --white: #ececf1;
  --light: #40414f;
  --medium: #343541;
  --medium-tinted: #3e3f4b;
  --dark: #202123;
}

body {
  margin: 0;
}
