/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");

:root {
  font-family: Roboto, "Helvetica Neue", sans-serif;

  /** Color palette */
  --white: #ececf1;
  --light: #40414f;
  --medium: #343541;
  --medium-tinted: #3e3f4b;
  --dark: #202123;

  overflow: hidden;
}

body {
  margin: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
